.content-box h3 {
    padding: 2px 2px 2px 10px;
    margin: 0;
}

.content-box p.actors {
    padding: 2px 2px 2px 10px;
    margin: 0;
    font-size: 13px;
}

.content-box p.genres {
    padding: 2px 2px 2px 10px;
    margin: 0;
    font-size: 13px;
}

.content-box p.desc {
    padding: 2px 2px 2px 10px;
    margin: 0;
    font-size: 15px;
}